Package: ruby3.2-jemalloc
Section: ruby
Maintainer: Mizunashi Mana <mizunashi-mana@noreply.git>
Version: 3.2.1-1
Multi-Arch: allowed
Architecture: any
Standards-Version: 4.5.1
Homepage: https://www.ruby-lang.org/
Depends:    libruby3.2-jemalloc
Description: Ruby 3.2 branch enabled jemalloc.
Rules-Requires-Root: no
